<header [style]="styleObj">
  <nav>
    <div class="left">
    </div>
    <div class="center">
      <div class="player-names">
        <div><span>Player 1</span></div>
        <div><span>Player 2</span></div>
      </div>
      <div class="points">
        <div><span>24 Points</span></div>
        <div><span>11 Points</span></div>
      </div>
      <div class="step-dices">
        <div class="dice">
          <ttd-cube [CSSRotation]="cube1Rotation"/>
        </div>
        <div class="dice">
          <ttd-cube [CSSRotation]="cube2Rotation"/>
        </div>
      </div>

    </div>
  </nav>
</header>
