$header-height: 115px;
$control-bar-height: 115px;

.header {
  height: $header-height;
}

.board {
  height: calc(100% - $header-height - $control-bar-height);
}

.control-buttons {
  height: $control-bar-height;
}
