$header-height: 115px;
.header {
  height: $header-height;
}

.rest {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  height: calc(100% - $header-height);
  padding: 6px;

  .sidebar {
    width: 20%;
    height: 100%;
    flex-shrink: 0;
  }

  .board {
    width: 60%;
    flex-shrink: 0;
    height: 100%;
  }
}
