.buttons-wrapper {
  .top-buttons {
    .undo {
    }

    .redo {
    }
  }

  .move-buttons {
    position: relative;
    .pieBackground {
      position: absolute;
      width: 300px;
      height: 300px;
      border-radius: 100%;
      background: blue;
    }
    .hold {
      position: absolute;
      width: 300px;
      height: 300px;
      border-radius: 100%;

      .pie {
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 100%;
      }
    }
  }

  .finish-button {

  }
}
