@import "variables";
@import "reset";
@import "fonts";
@import "globalmixins";

* {
  font-family: Poppins;
}

.input-box {
  width: 100%;
  margin-block: 6px;

  &__top {
    margin-bottom: 6px;

    &-label {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      //color: var(--t-212656-F0F0F0);
    }

    &-star {
      color: var(--red);
      vertical-align: middle;
    }
  }

  &__err {
    min-height: 20px;
    margin-block: 4px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--red);
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
  }

  .ant-select {
    .ant-select-selector {
      background-color: transparent !important;

      .ant-select-selection-placeholder {
        //color: var(--t-212656-F0F0F0) !important;
      }
    }

    .ant-select-arrow svg {
      //color: var(--t-212656-F0F0F0) !important;
    }

    .ant-select-selection-item {
      //color: var(--t-212656-F0F0F0) !important;
    }
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 6px;
    border: 1px solid var(--input-border-color);
    padding: 4px 5px;
    min-width: 200px;
    gap: 28px;

    &__error {
      border: 1px solid var(--red);
    }

    &__left {
      width: 100%;

      &-show {
        width: 100%;
        display: flex;
        border-radius: 4px;
        background: var(--white);
        padding: 4px 6px;
        font-style: normal;
        font-weight: 500;
        line-height: 14px;
        height: 22px;
      }
    }

    &__right {
      &-button {
        display: flex;
        border-radius: 4px;
        background: var(--main) !important;
        padding: 4px 6px;
        justify-content: center;
        align-items: center;
        gap: 4px;
        color: var(--white);
        text-align: center;
        font-family: Poppins;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: 14px;
        height: 22px;
      }
    }
  }

  input {
    background-color: transparent;
    color: var(--t-212656-F0F0F0);

    &:focus {
      border-color: var(--t-B5B9DB-36470);
    }

    &::placeholder {
      color: var(--t-212656-F0F0F0);
    }
  }

  textarea {
    background-color: transparent;
    color: var(--t-212656-F0F0F0);
    padding: 8px 12px;

    resize: none;

    &:focus {
      border-color: var(--t-B5B9DB-36470);
    }

    &::placeholder {
      color: var(--t-212656-F0F0F0);
    }
  }
}

.ant-modal {
  &-content {
    background-color: var(--white) !important;

    .ant-modal-close {
      svg {
        color: var(--text-color-black) !important;
      }
    }

    .ant-modal-header {
      background-color: var(--white) !important;
      margin-bottom: 30px;

      .ant-modal-title {
        color: var(--text-color-black) !important;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        text-transform: capitalize;
      }
    }

    .ant-modal-body {
      color: var(--text-color-black) !important;
    }

    .ant-modal-footer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;
      margin-top: 30px;
    }
  }
}

.menu-drawer {
  .ant-drawer-content-wrapper {
    .ant-drawer-content {
      .ant-drawer-header {
        padding: 50px 25px;

        svg {
          height: 35px;
          width: 160px;
        }
      }
    }
  }
}

.aside-menu {
  background-color: transparent !important;
  color: #000 !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  border-inline-end: unset !important;

  svg {
    font-size: 18px !important;
    margin-right: 10px;
  }

  &-inline-collapsed {
    width: 40px;
  }

  .ant-menu-sub {
    background-color: transparent !important;
  }

  .ant-menu-item {
    margin-block: 0;
    padding-left: unset !important;
    padding-inline: unset !important;

    &-selected,
    &-active,
    &:hover {
      background-color: transparent !important;
      color: var(--main) !important;
    }
  }

  .ant-menu-submenu {
    &:has(.ant-menu-submenu) .ant-menu-submenu {
      padding-left: 16px;
    }

    .ant-menu-item {
      padding-left: 16px !important;
      margin-block: 0;
    }

    &-selected,
    &-active,
    &-title:hover,
    &:hover {
      background-color: transparent !important;
      color: var(--main) !important;
    }

    &-title {
      padding-left: unset !important;
      padding-inline: unset !important;
    }

    &-selected {
      .ant-menu-submenu-title {
        color: unset !important;
      }
    }
  }
}