.board {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;

  &Row {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &Cell {
    width: 125px;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
  }
}
