<%- include("partials/head.ejs") -%>

<div class="container">
  <h1>Home</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
    aspernatur corrupti officiis iusto, officia dolores dolore architecto.
    Iure, maxime! Earum aperiam laudantium neque nesciunt beatae at, quibusdam
    ullam odit a.
  </p>
</div>

<%- include("partials/footer.ejs") -%>
