footer {
  height: 100%;
  width: 100%;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;

  .buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      padding-block: 15px;
      cursor: pointer;
      width: 100%;

      &:nth-child(2) {
        margin-left: -10px;
      }

      &:disabled {
        background: white;
        cursor: not-allowed;
      }

      &.next {
        flex-shrink: 0;
        height: 90px;
        width: 90px;
        border-radius: 50%;
        z-index: 1;
      }
    }
  }
}
