<footer>
  <div class="buttons-wrapper">
    <span class="undo-redo">
      <button class="undo">
        <fa-icon [icon]="faRotateBackward"></fa-icon>
      </button>
      <button class="redo">
        <fa-icon [icon]="faRotateForward"></fa-icon>
      </button>
    </span>
    <button class="next">
      <fa-icon [icon]="faFlagCheckered"></fa-icon>
    </button>
    <button class="move">
      <fa-icon [icon]="faX"></fa-icon>
      <fa-icon [icon]="faO"></fa-icon>
    </button>
    <button class="combo-move">
      <fa-icon [icon]="faX"></fa-icon>
      <fa-icon [icon]="faX"></fa-icon>
      <fa-icon [icon]="faO"></fa-icon>
      <fa-icon [icon]="faO"></fa-icon>
    </button>
    <button class="combo-move">
      <fa-icon [icon]="faEraser"></fa-icon>
    </button>
  </div>
</footer>
