<main [style.--tile-size]="tileSize">
  <div class="message" (click)="appService.startTheGame()">{{ message }}</div>
  <div class="tiles-wrapper">
    <div class="tiles">
      @for (tile of tiles; track tile.id) {
        <button class="tile" [disabled]="!appService.gameState.moveHasStarted">
          @if (tile.ownedBy === 1) {
            <span>X</span>
          }
          @if (tile.ownedBy === 2) {
            <span>O</span>
          }
        </button>
      }
    </div>
  </div>
  <div class="message" (click)="appService.startTheGame()">{{ message }}</div>
</main>
