.auth-layout {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(250, 250, 250, 1) 0%, rgba(250, 250, 250, 0.9) 80%), url("../../assets/images/auth-background.png") lightgray -226.333px -307.801px / 133.518% 146.099% no-repeat;
  mix-blend-mode: color-burn;

  &__content {
    background: var(--white);
    padding: 20px;
    border-radius: 10px;
    width: 350px;

    &-header {
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        height: 50px;
        width: 140px;
      }
    }

    &-form {
      margin-top: 30px;
    }
  }
}